# Python
__pycache__/
*.pyc
*.pyo
*.pyd
*.sqlite3

# Virtual env
.venv/
env/
venv/

# System files
.DS_Store

# PyCharm / VSCode
.idea/
.vscode/

# Logs
*.log

# Docker
*.pid
/data/

keys/firebase-key.json
.dev.env
.env